<form method="GET" action="/active-record/public">
    <br><label>Title:<input name="title" type="text"></label><br>
    <br><label>Category:<input name="category" type="text"></label><br>
    <button type="submit" name="addButton">Добавить</button>
</form>