<form method="GET" action="/data-mapper/public">
    <button type="submit" name="getAll">Показать всю таблицу</button>
    <button type="submit" name="getById">Найти по ID</button>
    <button type="submit" name="getByField">Найти по названию/жанру</button>
    <button type="submit" name="addRow">Добавить запись</button>
    <button type="submit" name="deleteById">Удалить запись</button>
</form>